@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap");
//$primary-color: #2b2c43;
$primary-color: #191725;
$base-color: rgb(22, 17, 48);
$nav-color: #1c262b;
$standout-color: #eb4e7a;
//$base-color: #3a497d;
$footer-color: #1a242e;
$font-Lato: "Lato", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-RobotoSlab: "Roboto Slab", serif;
$font-AlegreyaSans: "Alegreya Sans", sans-serif;
